html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ccc;
  background: linear-gradient(to right, #11011f, #380b25);
}

h1,
h2,
h3,
h4 {
  color: #ccddff;
  background-color: rgb(19, 6, 49);
  border: 2px solid black;
  border-right: 20px solid rgb(36, 3, 14);
  border-left: 20px solid rgb(20, 3, 42);
  border-bottom: 10px solid rgb(56, 5, 22);
  padding: 8px 16px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: #cdf;
}
hr {
  border: none;
  border-bottom: 2px solid rgba(127, 127, 127, 0.5);
}
