<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studentai</title>
    <link href="/static/gediminas.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Studentas</h1>
    <h2>Gediminas Zakas</h2>
    <div class="tube">
      <p>Random stuff</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/n2G6cVFCrTU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>01101010 01101111 01101011 01100101</p>
    <div class="joke"></div>
    <a class="button" href="/">atgal į PTU8 grupės puslapį</a>
  </body>
</html>